# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
env/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data & models
*.pkl
*.h5
*.csv
*.sdf

# OS
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/
